@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Global Styles */
html, body {
  background-color: #000000; /* Black background */
  color: #efefd3; /* Beige text */
  font-family: 'Poppins', sans-serif; /* Example font */
  scroll-behavior: smooth; /* Enables smooth scrolling */
}

a, button {
  color: #F5F5DC; /* Ensures all links & buttons are beige */
}

a:hover, button:hover {
  color: #000000; /* Black text on hover */
  background-color: #927340; /* Beige background */
  transition: all 0.3s ease-in-out;
}

html {
  scroll-behavior: smooth;
}


@font-face {
  font-family: 'Simple Michael';
  src: url('/assets/SimpleMichael.otf') format('truetype'); /* Adjust path if needed */
  font-weight: normal;
  font-style: normal;
}


body {
  font-family: "Simple Michael";
  scroll-behavior: smooth;
}
